.icon-48-kredse {
      background-image: url(../images/l_kredse.png);
      padding-left:60px!important;
}

.icon-48-kreds {
      background-image: url(../images/l_kredse.png);
      padding-left:60px!important;
}

